@{
    ViewData["Title"] = "Registration";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11">
            <div class="card card-body my-5">
                <h1 class="text-center">REGISTRATION</h1>
                <b>Your name:</b>
                <input type="text" class="form-control  mb-3" id="name"
                       placeholder="Name.."/>

                <b>Login:</b>
                <input type="text" class="form-control mb-3" id="login"
                       placeholder="Login.." min="0" max="100" step="1"/>

                <b>Password:</b>
                <input type="password" class="form-control mb-3" id="password"
                       placeholder="Password.." min="0" max="100" step="1"/>
                <div class="d-flex mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="role" id="adminBtn" checked>
                        <label class="form-check-label" for="adminBtn">
                            Admin
                        </label>
                    </div>
                    <div class="form-check ms-3">
                        <input class="form-check-input" type="radio" name="role" id="viewerBtn">
                        <label class="form-check-label" for="viewerBtn">
                            Viewer
                        </label>
                    </div>
                </div>


                <p1 class=" mb-3">Have an account? <a class="text-info" href="/Account/Authorization">Log in</a></p1>
                <button type="button" class="btn btn-dark w-100" onclick="registration()">Registration</button>
            </div>
        </div>
    </div>
</div>

<script>
    
    function validateData(name, login, password) {
        if (name.length === 0) {
            return "Name can't be empty!";
        }
        if(login.length < 4) {
            return "Login can't be smaller than 4 characters!";
        }
        if(password.length < 4) {
            return "Password can't be smaller than 4 characters!";
        }
        return "";
    }

    async function registration() {
        let isViewerChecked = document.getElementById('viewerBtn').checked;
        let role;
        if (isViewerChecked)
            role = "Viewer";
        else
            role = "Admin";
            
        let data = {
            role: role,
            name: document.getElementById('name').value,
            login: document.getElementById('login').value,
            password: document.getElementById('password').value, 
        }
        
        let message = validateData(data.name, data.login, data.password);
        if (message !== ""){
            alert(message); 
            return;
        }
        
        const config = {
            method: 'post',
            headers: {
                "Content-type": "application/json; charset=UTF-8",
            },
            body: JSON.stringify(data)
        }
           
        const response = await fetch(`/Account/Registration?`, config)
        let object = await response.json();
        console.log(object)
        if (object.result === 3)
            window.location.href = '/Account/Authorization';
    }
</script>